:root {
	--black: #{$black};
	--grey: #{$grey};
	--grey-tint: #{$grey-tint};
	--white: #{$white};
	--white-rgb: 255, 255, 255;
	--primary-color-darkest: #{$primary-color-darkest};
	--primary-color-dark: #{$primary-color-dark};
	--primary-color: #{$primary-color};
	--primary-color-tint: #{$primary-color-tint};
	--secondary-color-darkest: #{$secondary-color-darkest};
	--secondary-color-dark: #{$secondary-color-dark};
	--secondary-color: #{$secondary-color};
	--secondary-color-tint: #{$secondary-color-tint};
	--accent-color: #{$accent-color};

	--spacer-xs: #{$spacer-xs};
	--spacer-sm: #{$spacer-sm};
	--spacer: #{$spacer};
	--spacer-lg: #{$spacer-lg};

	--container-width: 1140px;

	--h1-font-size: 7rem;
	--h2-font-size: 2rem;

	--diag-color-1: var(--primary-color);
	--diag-color-2: var(--primary-color-dark);

	@media (max-width: $md - 1) {
		--h1-font-size: 5rem;
	}

	@media (max-width: $sm - 1) {
		--h1-font-size: 3rem;
		--h2-font-size: 1.5rem;

		--spacer-lg: 1.5rem;
	}
}