:root {
	--black: #{$black};
	--grey: #{$grey};
	--grey-tint: #{$grey-tint};
	--white: #{$white};
	--primary-color-darkest: #{$primary-color-darkest};
	--primary-color-dark: #{$primary-color-dark};
	--primary-color: #{$primary-color};
	--primary-color-tint: #{$primary-color-tint};
	--secondary-color-darkest: #{$secondary-color-darkest};
	--secondary-color-dark: #{$secondary-color-dark};
	--secondary-color: #{$secondary-color};
	--secondary-color-tint: #{$secondary-color-tint};

	--spacer-sm: #{$spacer-sm};
	--spacer: #{$spacer};
	--spacer-lg: #{$spacer-lg};

	--diag-color-1: var(--primary-color);
	--diag-color-2: var(--primary-color-dark);
}