:root {
	--black: #{$black};
	--grey: #{$grey};
	--grey-tint: #{$grey-tint};
	--white: #{$white};
	--primary-color-dark: #{$primary-color-dark};
	--primary-color: #{$primary-color};
	--primary-color-tint: #{$primary-color-tint};

	--spacer-sm: #{$spacer-sm};
	--spacer: #{$spacer};
	--spacer-lg: #{$spacer-lg};
}