// app layout
// -----------------------------------

.container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--spacer);
	padding-right: var(--spacer);
}

.container-grid {
	display: grid;
	grid-gap: var(--spacer);
	grid-template-areas: 
		'header nav'
		'main main';
	grid-template-columns: 2fr 1fr;
	margin-top: var(--spacer-lg);
	margin-bottom: var(--spacer-lg);
}

.header {
	grid-area: header;
}

.nav {
	grid-area: nav;
	display: flex;
	align-self: center;
	justify-self: end;

	.button {
		--button-sparks-line-offset: 10px;
	}
	
	&-link {
		height: 4.5rem;
		width: 4.5rem;

		+ .nav-link {
			margin-left: -0.75rem;
		}

		&-icon {
			width: 80%;	
		}
	}
}

.butter-deets-fill,
.fish-scales-fill {
	fill: var(--black);
}

.fish-fin-fill {
	fill: var(--secondary-color);
}

.butter-wing-fill {
	fill: var(--white);
}

.butter-antenna-stroke {
	fill: none;
	stroke: var(--black);
	stroke-width: 3;
	stroke-linecap: round;
	stroke-miterlimit: 10;
}

.main {
	grid-area: main;
}

.header, 
.nav, 
.main {
	flex: 0 0 100%; 
}

// utils
// -----------------------------------

// .svg-hidden {
// 	position: absolute;
// 	height: 0;
// 	width: 0;
// }

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	clip: rect(0, 0, 0, 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	overflow: hidden;
}