// app layout
// -----------------------------------

.container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--spacer);
	padding-right: var(--spacer);
}

.container-grid {
	display: grid;
	grid-template-areas: 
		'header nav'
		'main main';
	grid-template-columns: 2fr 1fr;
	grid-gap: var(--spacer);
	margin-top: var(--spacer-lg);
	margin-bottom: var(--spacer-lg);

	@media (max-width: $sm - 1) {
	grid-template-areas: 
		'header'
		'main';
	grid-template-columns: 100%;
	}
}

.header {
	grid-area: header;

	@media (max-width: $sm - 1) {
		padding-top: 4.5rem;
		text-align: center;
	}
}

.main {
	grid-area: main;
}

.header, 
.nav, 
.main {
	flex: 0 0 100%; 
}

.well {
	padding: var(--spacer);
	background-color: var(--primary-color-tint);
}

// utils
// -----------------------------------

// .svg-hidden {
// 	position: absolute;
// 	height: 0;
// 	width: 0;
// }

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	clip: rect(0, 0, 0, 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	overflow: hidden;
}