// app layout
// -----------------------------------

.container {
	display: grid;
	grid-template-columns: 1fr minmax(auto, var(--container-width)) 1fr;
	gap: var(--spacer);
	padding-left: var(--spacer);
	padding-right: var(--spacer);
}

.header {
	text-align: right;
}

.main {
	grid-column-start: 2;
}

.critter-background {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	height: 70vh;
	width: 100%;
	background-color: var(--secondary-color);
}

.well {
	padding: var(--spacer);
	background-color: var(--primary-color-tint);
}

// utils
// -----------------------------------

// .svg-hidden {
// 	position: absolute;
// 	height: 0;
// 	width: 0;
// }

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	clip: rect(0, 0, 0, 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	overflow: hidden;
}