@import 'https://fonts.googleapis.com/css?family=Varela+Round&display=swap';

body {
	background-color: var(--white);
	font-family: $primary-font-family;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.35;
	color: var(--black);
}

h1 {
	font-family: $heading-font-family;
	font-size: 4rem;
	line-height: 1.125;
}

h2 {
	font-family: $heading-font-family;
	font-size: 2rem;
	line-height: 1.125;
}

.heading-boxed {
	display: inline-block;
	padding: var(--spacer-sm) var(--spacer);
	margin-bottom: calc(-1 * var(--spacer));
	transform: rotate(-5deg);
	border-radius: $border-radius;
	background-color: var(--primary-color-darkest);
	line-height: 1;
	color: var(--white);
}