@import 'https://fonts.googleapis.com/css?family=Varela+Round&display=swap';

body {
	background-color: var(--white);
	font-family: $primary-font-family;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.35;
	color: var(--black);
}

h1 {
	position: relative;
	display: inline-block;
	font-family: $heading-font-family;
	font-size: var(--h1-font-size);
	line-height: 1.125;

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		bottom: 0.5rem;
		left: -0.5rem;
		width: 100%;
		height: 1rem;
		border-radius: $border-radius;
		background-color: var(--secondary-color-tint);
	}
}

h2 {
	font-family: $heading-font-family;
	font-size: var(--h2-font-size);
	line-height: 1.125;
}

.heading-boxed {
	display: inline-block;
	padding: var(--spacer-sm) var(--spacer);
	margin-bottom: calc(-1 * var(--spacer));
	transform: rotate(-5deg);
	border-radius: $border-radius;
	background-color: var(--primary-color-darkest);
	line-height: 1;
	color: var(--white);
}