$black: #444;
$grey: #777;
$grey-tint: #eee;
$white: #fff;

$primary-color-dark: #a8931b;
$primary-color: #d1bc41;
$primary-color-tint: #f5ecc6;

$primary-font-family: 'Varela Round', 'Roboto', sans-serif;
$heading-font-family: $primary-font-family;

$spacer-sm: 0.5rem;
$spacer: 1rem;
$spacer-lg: 2rem;

$border-radius: 1.5rem;
$border-width: 3px;
