// variables
// -----------------------------------

$sm: 576px;
$md: 768px;

$black: #444;
$grey: #777;
$grey-tint: #eee;
$white: #fff;

$primary-color-darkest: #af9217;
$primary-color-darker: #af9217;
$primary-color-dark: #e0bf38;
$primary-color: #eacc39;
$primary-color-tint: #fff3c0;

$secondary-color-darkest: #0c8181;
$secondary-color-darker: #20a4a4;
$secondary-color-dark: #46c6c6;
$secondary-color: #4ed1d8;
$secondary-color-tint: #d2fffe;

$accent-color: #ff4a82;

$primary-font-family: 'Varela Round', 'Roboto', sans-serif;
$heading-font-family: 'Zilla Slab', sans-serif;
$heading-secondary-font-family: $primary-font-family;

$spacer-xs: 0.25rem;
$spacer-sm: 0.5rem;
$spacer: 1rem;
$spacer-lg: 2rem;

$border-radius-sm: 1rem;
$border-radius: 1.5rem;
$border-width: 3px;

$badge-size: 0.875rem;

$scale-size: 1.1;
$scale-size-lg: 1.2;
$scale-transition: transform 0.2s ease-in-out;
$scale-transition-lg: transform 0.3s ease-in-out;

$diag-pattern: repeating-linear-gradient(-45deg, var(--diag-color-1), var(--diag-color-1) 25%, var(--diag-color-2) 25%, var(--diag-color-2) 50%);
$diag-pattern-size: 1.5rem;
$diag-pattern-animation: diagShift 0.5s infinite linear;

// mixins
// -----------------------------------

@mixin diagPattern() {
	background-image: $diag-pattern;
	background-size: $diag-pattern-size $diag-pattern-size;
	animation: $diag-pattern-animation;
}

// extends
// -----------------------------------

%input-hider {
	position: absolute;
	opacity: 0;
}